  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{title}}</title>
  <!-- Short description of the page (limit to 150 characters) -->
  <!-- In *some* situations this description is used as a part of the snippet shown in the search results. -->
  <meta name="description" content="An html scaffold project">
  <link rel="author" href="humans.txt">
  <link rel="dns-prefetch" href="//cdnjs.cloudflare.com/">

  <!-- <link rel="apple-touch-icon" href="apple-touch-icon.png"> -->
  <!-- For IE 10 and below -->
  <!-- Place favicon.ico in the root directory - no tag necessary -->
  <!-- For IE 11, Chrome, Firefox, Safari, Opera
  <link rel="icon" type="image/png" sizes="16x16" href="/path/to/favicon-16x16.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/path/to/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/path/to/favicon-96x96.png"> -->

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/normalize-opentype.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/grid.css">

  <!--<script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>-->
  <!--<script src="/js/vendor/modernizr-2.8.3.min.js"></script>-->